.music {
  background-color: #fff;
  padding: 15px;
  padding-top: 25px;
  border-radius: 18px;
  .music__title {
    margin-bottom: 15px;
    font-weight: 500;
    color: #666666;
  }
  &__loader {
    margin-bottom: 15px;
  }
}
