.button {
  height: 50px;
  padding: 0px 15px;
  border-radius: 10px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: #00acff;
  color: white;
  cursor: pointer;
  border: none;
}
