.messages {
  background-color: #fff;
  border-radius: 18px;
  padding: 15px;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  &__items {
    overflow-y: scroll;
    scroll-margin-inline-start: 0px;
    max-height: calc(100% - 50px);
    height: 100%;
    padding-right: 10px;
  }
  height: calc(100vh - 114px - 15px);
  &__message {
    margin-bottom: 15px;
  }
}
