.menu-player {
  background-color: #fff;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px;
  &__ava {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
  }
  &__top-block {
    display: flex;
    align-items: center;
    align-self: start;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.034);
  }
  &__block {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  &__title {
  }
}

.player-buttons {
  display: flex;
  align-items: center;
  &__item {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &__left svg {
    transform: rotate(180deg);
  }
  &__item + &__item {
    margin-left: 15px;
  }
  &__play {
    border: none;
    background-color: #00acff;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;

    & svg path {
      fill: #fff;
    }
  }
}
