.post {
  background-color: #fff;
  min-height: 100px;
  border-radius: 18px;
  padding: 14px 18px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__header-left {
    display: flex;
    align-items: center;
  }
  &__author-name {
    margin-left: 8px;
  }
  &__setting {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &__content {
    margin-top: 15px;
  }
  &__text {
    margin-bottom: 13px;
  }
}
