.message {
  display: flex;
  gap: 10px;
  align-items: end;
  &__content {
    color: white;
    background-color: #00acff;
    border-radius: 18px 18px 18px 0px;
    max-width: 300px;
    &.gray {
      background-color: rgba(0, 0, 0, 0.034);
      color: black;
    }
  }

  &.right {
    flex-direction: row-reverse;
  }
  &.right &__content {
    border-radius: 18px 18px 0px 18px;
  }
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 100px;
  }
  &__text {
    word-wrap: break-word;
    padding: 15px;
  }
}
